.App {
    text-align: left;
}

.Navigation {
    color: white;
    background-color: pink;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.PageLink {
    float: left;
    color: white;
    text-decoration: none;
    font-size: xxx-large;
    font-family: 'Bebas Neue', cursive;
    margin: 10px 0 0 0;
    padding: 0 40px;
}

#orderLink {
    float: right;
}
